/* clare.css */

* {
    font-family: "Gill Sans", Arial;
    font-weight: lighter;
}

body {
    background-color: #ffffff;
    color: #000000;
    margin: 0;
}

a img {
    border: none;
}

#container {
    float: left;
    width: 1200px;
}

#container-repertoire {
    width: 100%;
}

#header {
    height: 104px;
    text-align: right;
    background-image: url(thistle.jpg);
}

#logo {
    padding: 14px;
}

#logo h1 {
    font-size: 180%;
    color: #ffffff;
    margin: 0;
}

#logo h2 {
    font-size: 120%;
    color: #d08a26;
    margin: 0;
}   

#logo p {
    font-size: 100%;
    color: #ffffff;
    margin: 0;
}    

#main {
    background-image: url(pale-thistle.jpg);
    background-repeat: repeat-y;    
}

#sidebar {
    float: left;
    width: 180px;
}

#sidebar ul {
    text-align: right;
    padding-right: 10px;
    margin-top: 16px;
}

#sidebar li {
    margin-left: -20px;
}

#sidebar a {
    color: #000000;
}

#main-image {
    float: left;
    margin-top: -104px;
    width: 300px;
}

.main-image {
    width: 300px;
}

#no-image-content {
    float: left;
    background-image: url(line.jpg);
    background-repeat: repeat-y;    
    padding: 20px;
}

.scroll-pane-arrows {
    float: left;
    height: 570px;
    width: 720px;
    overflow: auto;
}

#scroll-pane-content {
    padding: 20px;
}

#clearer {
    clear: both;
}

#footer {
    clear: both;
    height: 104px;
    background-image: url(thistle2.jpg);
}

#credits {
    text-align: right;
    font-size: 80%;
    color: #ffffff;
    padding: 14px;
}

#credits p {
    margin: 0;
}

a {
    color: #d08a26;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
}

.page-heading {
    margin-top: 0px;
    color: #d08a26;
}

#index-main {
    width: 100%;
}

#index-main a {
    color: #000000;
}

.image-index {
    width: 100%;
}

#news {
    position: absolute;
    top: 140px;
    left: 30px;
    width: 480px;
}

.logos {
    float: right;
}

.logos > img {
    height: 25px;
}

h3 {
    font-size: 160%;
}

.more {
    font-size: 80%;
    color: #d08a26;
}

.less {
    font-size: 80%;
    color: #d08a26;
}

strong {
    font-weight: bolder;
}

em {
    font-style: italic;
}

#content a {
    color: #d08a26;
}

.listing {
    margin-top: 20px;
}

.listing-heading {
    font-size: 110%;
}

.listing-trailer {
    font-style: italic;
}

.listing-trailer em {
    font-style: normal;
}

.listing-details {
    font-style: italic;
    font-size: 90%;
    margin: 5px;
}

.listing-details p {
    margin: 0px;
}

#recordings {
    width: 520px;
    float: left;
    padding: 10px;
}

#cd-cover {
    width: 380px;
    float: left;
    padding-top: 70px;
}

.cd-cover {
    width: 300px;
    border: #000000 solid 1px;
    padding: 3px;
}

#recording-links {
    padding-left: 30px;
}

.recording-link-img {
    width: 140px;
    border: #000000 solid 1px;
    padding: 1px;
}

#film-clips {
    float: left;
}

.film-clip {
    width: 450px;
    float: left;
    padding: 10px;
    text-align: center;
}

.film-clip-still {
    width: 280px;
  border: #000000 solid 1px;
    padding: 1px;
}

#thumbnails {
    width: 420px;
    float: left;
}

td {
    padding: 10px
}

.thumbnail {
    width: 105px;
    border: #000000 solid 1px;
    padding: 1px;
}

.highlighted {
    border: #ffffff solid 1px;
}

.review-thumbnail {
    width: 105px;
    border: #ffffff solid 1px;
    padding: 1px;
}

.highlighted-inverse {
    border: #000000 solid 1px;
}

#gallery-main {
    width: 320px;
    float: left;
    margin-top: -50px;
    margin-left: 80px;
    margin-bottom: 50px;
}

.gallery-main {
    width: 320px;
    border: #000000 solid 1px;
    padding: 3px;
}

#credit {
    font-size: 80%;
    text-align: right;
}

.email-address {
    font-size: 120%;
    padding-left: 30px;
}

.quote-source {
    font-weight: normal;
    margin-bottom: 2px;
}

.quote {
    padding-left: 40px;
    margin-top: 2px;
}

.download-thumb {
    width: 100px;
    border: #000000 solid 1px;
    margin-left: 20px;
    margin-right: 20px;
}

.downloadable {
    padding-left: 20px;
}

#repertoire-content {
    overflow-y: scroll;
    width: 100%;
}

#repertoire {
    width: 660px;
    margin: auto;
    padding-bottom: 20px;
}

#repertoire h4 {
    margin-bottom: 4px;
}

#repertoire p {
    margin: 0px;
}

.programme {
    text-align: center;
}

#solo-rep td {
    padding-top: 1px;
    padding-bottom: 1px;
    vertical-align: top;
}

#academic-events td {
    padding-top: 1px;
    padding-bottom: 1px;
    vertical-align: top;
}

.event-date {
    width: 90px;
}

#thesis p {
    text-align: justify;
    margin: 3px;
}

#in-tune {
    width: 400px;
    padding: 25px;
}

#live-in-concert {
    width: 400px;
    padding: 25px;
}

#piano-polyptych {
    width: 600px;
    padding: 25px;
}

#wigmore {
    width: 500px;
    padding: 25px;
}

#liszt {
    width: 500px;
    padding: 25px;
}

#future-classics {
    width: 500px;
    padding: 25px;
}

#interview {
    width: 500px;
    padding: 25px;
}

#splashes-info {
    width: 540px;
}

.blog-post {
    width: 720px;
    text-align: justify;
}

.blog-img {
    float: left;
    width: 200px;
    margin: 10px;
}

.blog-entry-img {
    width: 100px;
    border: #000000 solid 1px;
    padding: 1px;
}

#back-to-blog {
    text-align: right;
}
