<html>
  <head>
    <title>Clare Hammond | Pianist</title>
    <link rel="stylesheet" type="text/css" href="resources/clare.css" />
    <link rel="stylesheet" type="text/css" href="resources/jquery.jscrollpane.css" />
    <link rel="stylesheet" type="text/css" href="resources/jquery.jscrollpane.lozenge.css" />
    <script type="text/javascript" src="resources/jquery-1.5.1.min.js"></script>
    <script type="text/javascript" src="resources/jquery-ui-1.8.14.custom.min.js"></script>
    <script type="text/javascript" src="resources/clare.js"></script>
    <script type="text/javascript" src="resources/jquery.popupwindow.js"></script>
    <script type="text/javascript" src="resources/jquery.jscrollpane.js"></script>
    <script type="text/javascript" src="resources/jquery.mousewheel.js"></script>
    <script type="text/javascript" src="resources/mwheelIntent.js"></script>
    <link rel="icon" type="image/jpg" href="resources/favicon.jpg" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" content="Clare Hammond | Pianist" />
    <meta name="keywords" content="Clare, Claire, Hammond, Piano, Pianist, London, Cambridge, Music" />
  </head>
  <body>
    {{ content }}
  </body>
</html>

