<html>
  <head>
    <title>Clare Hammond | Pianist</title>
    <link href='https://fonts.googleapis.com/css?family=Muli:400,400italic|Julius+Sans+One' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="resources/clare.css" />
    <link rel="stylesheet" type="text/css" href="resources/jquery.jscrollpane.css" />
    <link rel="stylesheet" type="text/css" href="resources/jquery.jscrollpane.lozenge.css" />
    <script type="text/javascript" src="resources/jquery-1.5.1.min.js"></script>
    <script type="text/javascript" src="resources/jquery.validate.min.js"></script>
    <script type="text/javascript" src="resources/jquery-ui-1.8.14.custom.min.js"></script>
    <script type="text/javascript" src="resources/clare.js"></script>
    <script type="text/javascript" src="resources/jquery.popupwindow.js"></script>
    <script type="text/javascript" src="resources/jquery.jscrollpane.js"></script>
    <script type="text/javascript" src="resources/jquery.mousewheel.js"></script>
    <script type="text/javascript" src="resources/mwheelIntent.js"></script>
    <link rel="icon" type="image/jpg" href="resources/favicon.jpg" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" content="Clare Hammond | Pianist" />
    <meta name="keywords" content="Clare, Claire, Hammond, Piano, Pianist, London, Cambridge, Music" />
    <meta name="description" content="Acclaimed by the Daily Telegraph as a pianist of 'amazing power and panache', Clare Hammond combines a formidable technique and virtuosic flair on stage with stylistic integrity and attention to detail." />
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-25175458-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  </script>
  </head>
  <body>
    {{ content }}
  </body>
</html>

