---
layout: base
---

<div id="container-repertoire">
  <div id="header">
    <div id="logo" onclick="javascript:window.location='index.html';">
      <h1>CLARE HAMMOND</h1>
      <h2 class="page-heading">Pianist</h2>
      <p>info@clarehammond.com</p>
    </div>
  </div>
  
  <div id="recording-popout">
    {{ content }}
  </div>
  <div id="footer">
    <div id="credits">
      <p>All images copyright <a href="http://www.juliekimphotography.com/">Julie Kim</a>, unless otherwise credited</p>
      <p>Site design Peter Inglesby</p>
   </div>
  </div>
</div>
