---
layout: with-header-and-footer
---

<div id="main">
  <div id="sidebar">
    <ul>
      <li><a href="index.html">HOME</a></li>
      <li><a href="biography.html">BIOGRAPHY</a></li>
      <li><a href="concerts.html">CONCERTS</a></li>
      <li><a href="repertoire.html">REPERTOIRE</a></li>
      <li><a href="academia.html">ACADEMIA</a></li>
      <li><a href="contact.html">CONTACT</a></li>
    </ul>
    <ul>
      <li>MEDIA</li>
      <li><a href="recordings.html">Recordings</a></li>
      <li><a href="reviews.html">Reviews</a></li>
      <li><a href="gallery.html">Gallery</a></li>
      <li><a href="download.html">Download</a></li>
    </ul>
  </div>
  {{ content }}
  <div id="clearer"></div>
</div>
